<!DOCTYPE html>
<html>
  <head>
    <title>Fraudulent Website</title>
    <style>
      /* body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      img {
        width: 7em !important;
      }
      h1 {
        font-size: 2.5em;
      }
      p {
        font-weight: bold;
        font-size: 1.3em;
      } */

      body {
        background-color: #ffcccc;
        font-family: Arial, sans-serif;
        text-align: center;
        margin-top: 100px;
      }

      h1 {
        color: #ff0000;
        font-size: 32px;
      }

      p {
        color: #333333;
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
      }

      a {
        color: #ff0000;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <img src="/assets/img/warning.png" alt="" />
    <h1>Warning, this website has been taken down!</h1>
    <p>This website has been seized due to fraudulent activity.</p>
    <p>
      If you have any information regarding the illegal activities conducted on
      this website, please report it to the appropriate authorities.
    </p>
  </body>
</html>
